.feed{
    
    /*padding: 10px;
    box-sizing: border-box; */
    flex: 0.5;
    margin: 20px 20px;
    
}
.feed_inputContainer{
    /* display: flex; */
    justify-content: space-evenly;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
}
.feed__inputContainer__avatar{
    flex: 0.1;
    box-sizing: border-box;;
}
.feed__input{
    flex: 0.9;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 10px;
    color: gray;
    padding-left: 5px;
}
.feed__input form{
    display: flex;
    width: 100%;
}
.feed__input form input{
    border: none !important;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed__input form button{
    display: none !important;
}
.feed__inputOption{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 550px){
    .feed{
        max-width: 80%;
        margin-right: 0 auto;
        padding-left: 20px;
        box-sizing: border-box;
        padding-right: 0;
    }
    .feed_inputContainer{
        width: fit-content;
        margin-right: 0;
        margin-left: 30px;
        /* padding: 100px; */
        box-sizing: border-box;
    }
}